server_soap_test/BFCPService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="BFCPService"
 targetNamespace="http://localhost:8011/BFCPService.wsdl"
 xmlns:tns="http://localhost:8011/BFCPService.wsdl"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:ns="urn:BFCPService"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:HTTP="http://schemas.xmlsoap.org/wsdl/http/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="urn:BFCPService"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns="urn:BFCPService"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <simpleType name="ErrorCode"><!-- ns__ErrorCode -->

   <restriction base="xsd:string">
    <enumeration value="kNoError"/><!-- ns__ErrorCode::kNoError -->
    <!-- = 0 -->
    <enumeration value="kUserNotExist"/><!-- ns__ErrorCode::kUserNotExist -->
    <!-- = 1 -->
    <enumeration value="kUserAlreadyExist"/><!-- ns__ErrorCode::kUserAlreadyExist -->
    <!-- = 2 -->
    <enumeration value="kFloorNotExist"/><!-- ns__ErrorCode::kFloorNotExist -->
    <!-- = 3 -->
    <enumeration value="kFloorAlreadyExist"/><!-- ns__ErrorCode::kFloorAlreadyExist -->
    <!-- = 4 -->
    <enumeration value="kChairNotExost"/><!-- ns__ErrorCode::kChairNotExost -->
    <!-- = 5 -->
    <enumeration value="kChairAlreadyExist"/><!-- ns__ErrorCode::kChairAlreadyExist -->
    <!-- = 6 -->
    <enumeration value="kConferenceNotExist"/><!-- ns__ErrorCode::kConferenceNotExist -->
    <!-- = 7 -->
    <enumeration value="kConferenceAlreadyExist"/><!-- ns__ErrorCode::kConferenceAlreadyExist -->
    <!-- = 8 -->
    <enumeration value="kServerNotStart"/><!-- ns__ErrorCode::kServerNotStart -->
    <!-- = 9 -->
    <enumeration value="kServerAlreadyStart"/><!-- ns__ErrorCode::kServerAlreadyStart -->
    <!-- = 10 -->
   </restriction>
  </simpleType>
  <simpleType name="Policy"><!-- ns__Policy -->

   <restriction base="xsd:string">
    <enumeration value="kAutoAccept"/><!-- ns__Policy::kAutoAccept -->
    <!-- = 0 -->
    <enumeration value="kAutoDeny"/><!-- ns__Policy::kAutoDeny -->
    <!-- = 1 -->
   </restriction>
  </simpleType>
  <!-- operation request element -->
  <element name="port" type="xsd:unsignedShort"/>
  <!-- operation request element -->
  <element name="enbaleConnectionThread" type="xsd:boolean"/>
  <!-- operation request element -->
  <element name="workThreadNum" type="xsd:int"/>
  <!-- operation response element -->
  <element name="errorCode" type="ns:ErrorCode"/>
  <!-- operation request element -->
  <element name="conferenceID" type="xsd:unsignedInt"/>
  <!-- operation request element -->
  <element name="maxFloorRequest" type="xsd:unsignedShort"/>
  <!-- operation request element -->
  <element name="policy" type="ns:Policy"/>
  <!-- operation request element -->
  <element name="timeForChairAction" type="xsd:double"/>
  <!-- operation request element -->
  <element name="timeForChairActoin" type="xsd:double"/>
  <!-- operation request element -->
  <element name="floorID" type="xsd:unsignedShort"/>
  <!-- operation request element -->
  <element name="maxGrantedNum" type="xsd:unsignedShort"/>
  <!-- operation request element -->
  <element name="userID" type="xsd:unsignedShort"/>
  <!-- operation request element -->
  <element name="userName" type="xsd:string"/>
  <!-- operation request element -->
  <element name="userURI" type="xsd:string"/>
  <!-- operation response element -->
  <element name="conferenceIDs" type="xsd:unsignedInt"/>
  <!-- operation response element -->
  <element name="conferenceInfo" type="xsd:string"/>
 </schema>

</types>

<message name="startRequest">
 <part name="port" element="ns:port"/><!-- ns__start::port -->
 <part name="enbaleConnectionThread" element="ns:enbaleConnectionThread"/><!-- ns__start::enbaleConnectionThread -->
 <part name="workThreadNum" element="ns:workThreadNum"/><!-- ns__start::workThreadNum -->
</message>

<message name="startResponse">
 <part name="errorCode" element="ns:errorCode"/><!-- ns__start::errorCode -->
</message>

<message name="stopRequest">
</message>

<message name="stopResponse">
 <part name="errorCode" element="ns:errorCode"/><!-- ns__stop::errorCode -->
</message>

<message name="quit">
</message>

<message name="addConferenceRequest">
 <part name="conferenceID" element="ns:conferenceID"/><!-- ns__addConference::conferenceID -->
 <part name="maxFloorRequest" element="ns:maxFloorRequest"/><!-- ns__addConference::maxFloorRequest -->
 <part name="policy" element="ns:policy"/><!-- ns__addConference::policy -->
 <part name="timeForChairAction" element="ns:timeForChairAction"/><!-- ns__addConference::timeForChairAction -->
</message>

<message name="addConferenceResponse">
 <part name="errorCode" element="ns:errorCode"/><!-- ns__addConference::errorCode -->
</message>

<message name="removeConferenceRequest">
 <part name="conferenceID" element="ns:conferenceID"/><!-- ns__removeConference::conferenceID -->
</message>

<message name="removeConferenceResponse">
 <part name="errorCode" element="ns:errorCode"/><!-- ns__removeConference::errorCode -->
</message>

<message name="changeMaxFloorRequestRequest">
 <part name="conferenceID" element="ns:conferenceID"/><!-- ns__changeMaxFloorRequest::conferenceID -->
 <part name="maxFloorRequest" element="ns:maxFloorRequest"/><!-- ns__changeMaxFloorRequest::maxFloorRequest -->
</message>

<message name="changeMaxFloorRequestResponse">
 <part name="errorCode" element="ns:errorCode"/><!-- ns__changeMaxFloorRequest::errorCode -->
</message>

<message name="changeAcceptPolicyRequest">
 <part name="conferenceID" element="ns:conferenceID"/><!-- ns__changeAcceptPolicy::conferenceID -->
 <part name="policy" element="ns:policy"/><!-- ns__changeAcceptPolicy::policy -->
 <part name="timeForChairActoin" element="ns:timeForChairActoin"/><!-- ns__changeAcceptPolicy::timeForChairActoin -->
</message>

<message name="changeAcceptPolicyResponse">
 <part name="errorCode" element="ns:errorCode"/><!-- ns__changeAcceptPolicy::errorCode -->
</message>

<message name="addFloorRequest">
 <part name="conferenceID" element="ns:conferenceID"/><!-- ns__addFloor::conferenceID -->
 <part name="floorID" element="ns:floorID"/><!-- ns__addFloor::floorID -->
 <part name="maxGrantedNum" element="ns:maxGrantedNum"/><!-- ns__addFloor::maxGrantedNum -->
</message>

<message name="addFloorResponse">
 <part name="errorCode" element="ns:errorCode"/><!-- ns__addFloor::errorCode -->
</message>

<message name="removeFloorRequest">
 <part name="conferenceID" element="ns:conferenceID"/><!-- ns__removeFloor::conferenceID -->
 <part name="floorID" element="ns:floorID"/><!-- ns__removeFloor::floorID -->
</message>

<message name="removeFloorResponse">
 <part name="errorCode" element="ns:errorCode"/><!-- ns__removeFloor::errorCode -->
</message>

<message name="changeMaxGrantedNumRequest">
 <part name="conferenceID" element="ns:conferenceID"/><!-- ns__changeMaxGrantedNum::conferenceID -->
 <part name="floorID" element="ns:floorID"/><!-- ns__changeMaxGrantedNum::floorID -->
 <part name="maxGrantedNum" element="ns:maxGrantedNum"/><!-- ns__changeMaxGrantedNum::maxGrantedNum -->
</message>

<message name="changeMaxGrantedNumResponse">
 <part name="errorCode" element="ns:errorCode"/><!-- ns__changeMaxGrantedNum::errorCode -->
</message>

<message name="addUserRequest">
 <part name="conferenceID" element="ns:conferenceID"/><!-- ns__addUser::conferenceID -->
 <part name="userID" element="ns:userID"/><!-- ns__addUser::userID -->
 <part name="userName" element="ns:userName"/><!-- ns__addUser::userName -->
 <part name="userURI" element="ns:userURI"/><!-- ns__addUser::userURI -->
</message>

<message name="addUserResponse">
 <part name="errorCode" element="ns:errorCode"/><!-- ns__addUser::errorCode -->
</message>

<message name="removeUserRequest">
 <part name="conferenceID" element="ns:conferenceID"/><!-- ns__removeUser::conferenceID -->
 <part name="userID" element="ns:userID"/><!-- ns__removeUser::userID -->
</message>

<message name="removeUserResponse">
 <part name="errorCode" element="ns:errorCode"/><!-- ns__removeUser::errorCode -->
</message>

<message name="addChairRequest">
 <part name="conferenceID" element="ns:conferenceID"/><!-- ns__addChair::conferenceID -->
 <part name="floorID" element="ns:floorID"/><!-- ns__addChair::floorID -->
 <part name="userID" element="ns:userID"/><!-- ns__addChair::userID -->
</message>

<message name="addChairResponse">
 <part name="errorCode" element="ns:errorCode"/><!-- ns__addChair::errorCode -->
</message>

<message name="removeChairRequest">
 <part name="conferenceID" element="ns:conferenceID"/><!-- ns__removeChair::conferenceID -->
 <part name="floorID" element="ns:floorID"/><!-- ns__removeChair::floorID -->
</message>

<message name="removeChairResponse">
 <part name="errorCode" element="ns:errorCode"/><!-- ns__removeChair::errorCode -->
</message>

<message name="getConferenceIDs">
</message>

<message name="ConferenceListResult">
 <part name="errorCode" element="ns:errorCode"/><!-- ns__getConferenceIDs::errorCode -->
 <part name="conferenceIDs" element="ns:conferenceIDs"/><!-- ns__getConferenceIDs::conferenceIDs -->
</message>

<message name="getConferenceInfo">
 <part name="conferenceID" element="ns:conferenceID"/><!-- ns__getConferenceInfo::conferenceID -->
</message>

<message name="ConferenceInfoResult">
 <part name="errorCode" element="ns:errorCode"/><!-- ns__getConferenceInfo::errorCode -->
 <part name="conferenceInfo" element="ns:conferenceInfo"/><!-- ns__getConferenceInfo::conferenceInfo -->
</message>

<portType name="BFCPServicePortType">
 <operation name="start">
  <documentation>the bfcp server</documentation>
  <input message="tns:startRequest"/>
  <output message="tns:startResponse"/>
 </operation>
 <operation name="stop">
  <documentation>the bfcp server</documentation>
  <input message="tns:stopRequest"/>
  <output message="tns:stopResponse"/>
 </operation>
 <operation name="quit">
  <documentation>the bfcp server and web service</documentation>
  <input message="tns:quit"/>
 </operation>
 <operation name="addConference">
  <documentation>Service definition of function ns__addConference</documentation>
  <input message="tns:addConferenceRequest"/>
  <output message="tns:addConferenceResponse"/>
 </operation>
 <operation name="removeConference">
  <documentation>Service definition of function ns__removeConference</documentation>
  <input message="tns:removeConferenceRequest"/>
  <output message="tns:removeConferenceResponse"/>
 </operation>
 <operation name="changeMaxFloorRequest">
  <documentation>Service definition of function ns__changeMaxFloorRequest</documentation>
  <input message="tns:changeMaxFloorRequestRequest"/>
  <output message="tns:changeMaxFloorRequestResponse"/>
 </operation>
 <operation name="changeAcceptPolicy">
  <documentation>Service definition of function ns__changeAcceptPolicy</documentation>
  <input message="tns:changeAcceptPolicyRequest"/>
  <output message="tns:changeAcceptPolicyResponse"/>
 </operation>
 <operation name="addFloor">
  <documentation>Service definition of function ns__addFloor</documentation>
  <input message="tns:addFloorRequest"/>
  <output message="tns:addFloorResponse"/>
 </operation>
 <operation name="removeFloor">
  <documentation>Service definition of function ns__removeFloor</documentation>
  <input message="tns:removeFloorRequest"/>
  <output message="tns:removeFloorResponse"/>
 </operation>
 <operation name="changeMaxGrantedNum">
  <documentation>Service definition of function ns__changeMaxGrantedNum</documentation>
  <input message="tns:changeMaxGrantedNumRequest"/>
  <output message="tns:changeMaxGrantedNumResponse"/>
 </operation>
 <operation name="addUser">
  <documentation>Service definition of function ns__addUser</documentation>
  <input message="tns:addUserRequest"/>
  <output message="tns:addUserResponse"/>
 </operation>
 <operation name="removeUser">
  <documentation>Service definition of function ns__removeUser</documentation>
  <input message="tns:removeUserRequest"/>
  <output message="tns:removeUserResponse"/>
 </operation>
 <operation name="addChair">
  <documentation>Service definition of function ns__addChair</documentation>
  <input message="tns:addChairRequest"/>
  <output message="tns:addChairResponse"/>
 </operation>
 <operation name="removeChair">
  <documentation>Service definition of function ns__removeChair</documentation>
  <input message="tns:removeChairRequest"/>
  <output message="tns:removeChairResponse"/>
 </operation>
 <operation name="getConferenceIDs">
  <documentation>Service definition of function ns__getConferenceIDs</documentation>
  <input message="tns:getConferenceIDs"/>
  <output message="tns:ConferenceListResult"/>
 </operation>
 <operation name="getConferenceInfo">
  <documentation>Service definition of function ns__getConferenceInfo</documentation>
  <input message="tns:getConferenceInfo"/>
  <output message="tns:ConferenceInfoResult"/>
 </operation>
</portType>

<binding name="BFCPService" type="tns:BFCPServicePortType">
 <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="start">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal" namespace="urn:BFCPService"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal" namespace="urn:BFCPService"/>
  </output>
 </operation>
 <operation name="stop">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal" namespace="urn:BFCPService"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal" namespace="urn:BFCPService"/>
  </output>
 </operation>
 <operation name="quit">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal" namespace="urn:BFCPService"/>
  </input>
 </operation>
 <operation name="addConference">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal" namespace="urn:BFCPService"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal" namespace="urn:BFCPService"/>
  </output>
 </operation>
 <operation name="removeConference">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal" namespace="urn:BFCPService"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal" namespace="urn:BFCPService"/>
  </output>
 </operation>
 <operation name="changeMaxFloorRequest">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal" namespace="urn:BFCPService"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal" namespace="urn:BFCPService"/>
  </output>
 </operation>
 <operation name="changeAcceptPolicy">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal" namespace="urn:BFCPService"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal" namespace="urn:BFCPService"/>
  </output>
 </operation>
 <operation name="addFloor">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal" namespace="urn:BFCPService"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal" namespace="urn:BFCPService"/>
  </output>
 </operation>
 <operation name="removeFloor">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal" namespace="urn:BFCPService"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal" namespace="urn:BFCPService"/>
  </output>
 </operation>
 <operation name="changeMaxGrantedNum">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal" namespace="urn:BFCPService"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal" namespace="urn:BFCPService"/>
  </output>
 </operation>
 <operation name="addUser">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal" namespace="urn:BFCPService"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal" namespace="urn:BFCPService"/>
  </output>
 </operation>
 <operation name="removeUser">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal" namespace="urn:BFCPService"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal" namespace="urn:BFCPService"/>
  </output>
 </operation>
 <operation name="addChair">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal" namespace="urn:BFCPService"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal" namespace="urn:BFCPService"/>
  </output>
 </operation>
 <operation name="removeChair">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal" namespace="urn:BFCPService"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal" namespace="urn:BFCPService"/>
  </output>
 </operation>
 <operation name="getConferenceIDs">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal" namespace="urn:BFCPService"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal" namespace="urn:BFCPService"/>
  </output>
 </operation>
 <operation name="getConferenceInfo">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal" namespace="urn:BFCPService"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal" namespace="urn:BFCPService"/>
  </output>
 </operation>
</binding>

<service name="BFCPService">
 <documentation>gSOAP 2.8.21 generated service definition</documentation>
 <port name="BFCPService" binding="tns:BFCPService">
  <SOAP:address location="http://localhost:8011"/>
 </port>
</service>

</definitions>
